<div class="background-image"></div>
<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" formControlName="email" [(ngModel)]="email" />
      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
        <small class="error-message">Username is required.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" [(ngModel)]="password" />
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
        <small class="error-message">Password is required.</small>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <div class="link-container">
      <a routerLink="/register">Don't have an account yet? Register Now</a>
    </div>
  </form>
</div>
